<ul class="HomeMenu navbar-nav flex-grow-1">
    <li class="nav-item ">
        <a class="nav-link TournamentIndexLink" asp-area="" asp-controller="Tournaments" asp-action="Index">الدورات </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link CalendarMonthlyLink" asp-area="" asp-controller="Tournaments" asp-action="CalendarMonthly">الرزنامة الاساسية</a>
    </li>

    <li class="nav-item">
        <a class="nav-link Calendar4" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="4" asp-action="Calendar"> حقل داخلي</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Calendar2" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="2" asp-action="Calendar">حقل خارجي</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Calendar1004" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="1004" asp-action="Calendar">Milos 2D 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Calendar1005" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="1005" asp-action="Calendar">Milos 2D 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Calendar1006" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="1006" asp-action="Calendar">Milos 3D 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Calendar1007" asp-area="" asp-controller="Tournaments" asp-route-ShootingFieldId="1007" asp-action="Calendar">Milos 3D 2</a>
    </li>
</ul>
