.img_headr_left {
    float: left;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.img_headr_right {
    float: right;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.app_title {
    text-align: center;
    color: white;
}
header {
    background-image: -webkit-linear-gradient(45deg,#3399fe 10%,transparent 20%,#3399fe 60%, transparent 85%,#3399fe);
    background-color: black;
}
.headertitle {
    color:white;
    padding-top:10px;
}
.border-bottom {
    border-bottom:unset !important;
}
.navbar-inverse {
    /*background-color: #4b6c9e;*/
    /* background: linear-gradient(to right, rgb(47, 47, 47), rgb(17, 118, 243)); */
    background-color: #222;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 18px;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: #1d0ab9;
        }



/* hover on mneu --> background lightblue , color white*/
.nav-item > a:hover {
    background-color: #3399fe;
    color: white !important;
}

.HomeMenu .nav-link {
    color: white !important;
    font-size: 18px;
}

.bg-white {
    background-color:unset !important;
}

.container {
    max-width: 1363px !important;
    direction: rtl;
}


/* Calendar Style start*/
.month_traditional_rowheader {
    border: 1px solid #808080;
    padding: 10px;
}


.month_traditional_colheader {
    height: 36px !important;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 50px;
    background-color: gray;
}

.month_traditional_event_inner[style='background: rgb(255, 0, 0);'] {
    color: white;
}

.navigator_green_month {
    direction: ltr;
}

.month_traditional_event {
    text-align: center;
    box-shadow: 3px 3px 3px 3px;
}

.month_traditional_cornerright_inner {
    display: none !important;
}

.month_traditional_header_inner {
    background: -webkit-gradient( linear, left top, left bottom, from(#777), to(#666)) !important;
    color: #ffffff !important;
}

#calHolder > div:last-child {
    display: none !important;
}

.month_traditional_corner {
    height: 0px !important;
}

.month_traditional_main {
    direction: ltr;
}

.month_traditional_event .month_traditional_event_inner {
    /*background:unset !important;*/
    text-align: center;
    font-weight: 600;
}

#monthName {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}


/* Calendar Style End*/


.bubbleContainer {
    direction: rtl;
    text-align:right;
    font-size: 16px;
}

    .bubbleContainer td {
        vertical-align: top;
    }

    body{
        text-align:right;
    }
.gj-textbox-md {
    text-align: right !important;
    padding-right: 30px !important;
}

div[class="invalid-feedback"] {
    font-size: 14px;
}

.active {
    background-color: #3399fe !important;
    color: white !important;
}

.btn-link {
    font-weight: 600 !important;
    color: #3399fe !important;

}

button[type="submit"].logout:hover {
    background-color: #3399fe;
    color: white !important;
}
button[type="submit"].logout {
    border: none;
    color: #3399fe !important;
    background-color: #e2e0e0;
}

/*for print*/
@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

/*.ShootingRange_body {
    background-image: url('../media/sh_range_back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/
